In [ ]:
#!pip install pandas
import pandas as pd
import math

# **Read data from .csv files as a pandas dataframe**

In [ ]:
df = pd.read_csv("/content/sample_data/coffee.csv")

# **Observe data**

In [ ]:
print(df.shape)
df.head()

(6, 6)

           Cafe_Name  Espresso  Latte  Cappuccino  Americano  Total_Sales
0          North End       120   95.0        60.0         40        315.0
1       Gloria Jeans       130    0.0        70.0         45        245.0
2  Comptoirs Richard       110   85.0        65.0         50        310.0
3        Crimson Cup       105   90.0         0.0         35        230.0
4              Tabaq       100    1.0        55.0         30        186.0

# **Extract Columns**

In [ ]:
df = df.drop(columns=["Inside_Dhaka"])

In [ ]:
cols = list(df.columns)[1:]
print(cols)

['Espresso', 'Latte', 'Cappuccino', 'Americano']

# **Clean dataset**

In [ ]:
df[cols]

   Espresso  Latte Cappuccino  Americano
0       120  95.00         60         40
1       130 -20.00         70         45
2       110  85.00         65         50
3       105  90.00          T         35
4       100   0.75         55         30
5       115  92.00      False         38

#Convert non numeric values to NaN

In [ ]:
df[cols] = df[cols].apply(pd.to_numeric, errors="coerce")

In [ ]:
df.head(100)

           Cafe_Name  Espresso  Latte  Cappuccino  Americano
0          North End       120  95.00        60.0         40
1       Gloria Jeans       130 -20.00        70.0         45
2  Comptoirs Richard       110  85.00        65.0         50
3        Crimson Cup       105  90.00         NaN         35
4              Tabaq       100   0.75        55.0         30
5            Arabika       115  92.00         NaN         38

#Fill Nan with 0

In [ ]:
df[cols] = df[cols].fillna(0)
df.head(6)

           Cafe_Name  Espresso  Latte  Cappuccino  Americano
0          North End       120  95.00        60.0         40
1       Gloria Jeans       130 -20.00        70.0         45
2  Comptoirs Richard       110  85.00        65.0         50
3        Crimson Cup       105  90.00         0.0         35
4              Tabaq       100   0.75        55.0         30
5            Arabika       115  92.00         0.0         38

# Clean invalid numeric values

In [ ]:
for i in range(df.shape[0]):       # rows
    for j in range(1, df.shape[1]):   # columns
        df.iat[i, j] = round(df.iat[i, j])
        if df.iat[i, j] <1:
            df.iat[i, j] = 0

In [ ]:
df.head(100)

           Cafe_Name  Espresso  Latte  Cappuccino  Americano
0          North End       120   95.0        60.0         40
1       Gloria Jeans       130    0.0        70.0         45
2  Comptoirs Richard       110   85.0        65.0         50
3        Crimson Cup       105   90.0         0.0         35
4              Tabaq       100    1.0        55.0         30
5            Arabika       115   92.0         0.0         38

In [ ]:
df.head(100)

           Cafe_Name  Espresso  Latte  Cappuccino  Americano
0          North End       120   95.0        60.0         40
1       Gloria Jeans       130    0.0        70.0         45
2  Comptoirs Richard       110   85.0        65.0         50
3        Crimson Cup       105   90.0         0.0         35
4              Tabaq       100    1.0        55.0         30
5            Arabika       115   92.0         0.0         38

In [ ]:
print(cols)

['Espresso', 'Latte', 'Cappuccino', 'Americano']

# Answer to (iv)

In [ ]:
cols = ['Espresso', 'Latte', 'Cappuccino', 'Americano']
df["Total_Sales"] = df[cols].sum(axis=1) # understand this

top_cafe = df.loc[df["Total_Sales"].idxmax(), "Cafe_Name"]
print(top_cafe)

#Answer to (v)

In [ ]:
average_sales = df[cols].mean()
print(average_sales)

top_item = average_sales.idxmax()
print("Highest average sales item:", top_item)

Espresso      113.333333
Latte          60.500000
Cappuccino     41.666667
Americano      39.666667
dtype: float64
Highest average sales item: Espresso

Highest average sales item: Espresso